In [1]:
# 作業目標:

# 運用編碼處理類別資料
# 補缺失值
# 作業重點: 

# 類別編碼有多種方法，需分辨使用方法與時機
# 補缺失值須因應情境決定如何補值
# 題目 : 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

# import pandas as pd 
# q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [2]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [3]:
#缺失值填入字串'others'
q_df.fillna('others',inplace = True)
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [4]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
q_pr = pd.get_dummies(q_df['Profession'])
q_df = pd.concat([q_df, q_pr], axis=1)
q_df # ans: 用職業作為編碼較為適合，因為職業有唯一性。

      Sex Profession  engineer  others  teacher
0    male    teacher         0       0        1
1    male   engineer         1       0        0
2  female     others         0       1        0
3  female   engineer         1       0        0