In [1]:
# 對以下成績資料做分析
# 6 號學生(student_id=6) 3 科平均分數為何？
# 6 號學生 3 科平均分數是否有贏過班上一半的同學？
# 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
# 承上題，加分後各科班平均變多少？

In [2]:
import pandas as pd

In [3]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]]
                        ,columns=['student_id','math_score','english_score','chinese_score'])
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [4]:
# Q1: 6 號學生(student_id=6) 3 科平均分數為何？
score_df = score_df.set_index(['student_id'])
mean_id_6 = score_df[score_df.index == 6].mean(axis=1)
mean_id_6

student_id
6    56.333333
dtype: float64

In [5]:
# Q2: 6 號學生 3 科平均分數是否有贏過班上一半的同學？
result = score_df.mean(axis=1)
print(result>56.333333)
print('6號同學並沒有贏過班上一半的同學')

student_id
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
dtype: bool
6號同學並沒有贏過班上一半的同學

In [6]:
# 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
new_score_df = score_df.apply(lambda x:x**(0.5)*10)
new_score_df.loc[new_score_df.index == 6]

            math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985

In [7]:
# 承上題，加分後各科班平均變多少？
new_score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64